<div class="divBodyComponent mt-32 sm:mt-58 pb-16">
    <div class="absolute top-0 left-0  w-full">
        <img src='imgs\HappyBirthdayBG2.svg' alt="Banner" class="w-full">
      </div>
    <main>
        <div class="text-center">
            <!-- Chispas superiores -->
            <div class="spark top"></div>
            <div class="spark top-left"></div>
            <div class="spark top-right"></div>
            
            <!-- Chispas inferiores -->
            <div class="spark bottom"></div>
            <div class="spark bottom-left"></div>
            <div class="spark bottom-right"></div>
            
            <!-- Chispas laterales -->
            <div class="spark center-left"></div>
            <div class="spark center-right"></div>
            
            <!-- Chispas adicionales -->
            <div class="spark"></div>
            <div class="spark"></div>
            <div class="spark"></div>
            <div class="spark"></div>
          
            <!-- Texto -->
            <div class="scale-85 sm:scale-100">
                <p class="alice-text text-3xl md:text-4xl">HAPPY</p>
                <p class="amsterdam-text title-primary text-[82px] mt-6">Birthday</p>
                <p class="alice-text text-3xl md:text-4xl">PRINCESA</p>
            </div>
          </div>
        <!-- Caja de Foto -->
         <section class="mt-16 sm:mt-[13vh]">
             <app-box-photo></app-box-photo>
         </section>
    </main>
</div>
