
li {
    display: inline-block;
    padding-inline: 30px;
}
a{
    padding: 5px 15px;
}
.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    color: #cc1ebd;
}

/* Colors */
.color-text-primary{
    color: #D98E86;
}
.color-text-secondary{
    color: #D5D0D0;
}
.color-text-active{
    color: #B4726B;
}
.color-button-primary{
    background-color: #feada6;
}
.color-button-secondary{
    background-color: #F5E5E3;
}
.color-button-primary:hover{
    background-color: #FFC5BD;
    border: 1px solid #B4726B;
}
/* Add space at the end of the page */
body {
    padding-bottom: 20px;
}